/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom grid */
@font-face {
  font-family: NotoSansCJKkr;
  src: url(../font/NotoSansCJKkr-Bold.otf);
  src: url(../font/NotoSansCJKkr-Light.otf);
  src: url(../font/NotoSansCJKkr-Regular.otf);
}

* { box-sizing: border-box; font-family: NotoSansCJKkr; }

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
}

.flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }
.flex-jc-start { justify-content: flex-start; }
.flex-jc-center{ justify-content: center; }
.flex-jc-end { justify-content: flex-end; }
.flex-ai-start { align-items: flex-start; }
.flex-ai-center { align-items: center; }
.flex-dir-column { flex-direction: column; }
.flex-dir-row-reverse { flex-direction: row-reverse; }

.col-m-1 { max-width: 8.333333%; flex: 0 0 8.333333%; }
.col-m-2 { max-width: 16.666667%; flex: 0 0 16.666667%; }
.col-m-3 { max-width: 25%; flex: 0 0 25%; }
.col-m-4 { max-width: 33.333333%; flex: 0 0 33.333333%; }
.col-m-5 { max-width: 41.666667%; flex: 0 0 41.666667%; }
.col-m-6 { max-width: 50%; flex: 0 0 50%; }
.col-m-7 { max-width: 58.333333%; flex: 0 0 58.333333%; }
.col-m-8 { max-width: 66.666667%; flex: 0 0 66.666667%; }
.col-m-9 { max-width: 75%; flex: 0 0 75%; }
.col-m-10 { max-width: 83.333333%; flex: 0 0 83.333333%; }
.col-m-11 { max-width: 91.666667%; flex: 0 0 91.666667%; }
.col-m-12 { max-width: 100%; flex: 0 0 100%; }

.hidden-m { display: none; }
.visible-m { display: block; }

@media (min-width: 480px) {
  .col-p-1 { max-width: 8.333333%; flex: 0 0 8.333333%; }
  .col-p-2 { max-width: 16.666667%; flex: 0 0 16.666667%; }
  .col-p-3 { max-width: 25%; flex: 0 0 25%; }
  .col-p-4 { max-width: 33.333333%; flex: 0 0 33.333333%; }
  .col-p-5 { max-width: 41.666667%; flex: 0 0 41.666667%; }
  .col-p-6 { max-width: 50%; flex: 0 0 50%; }
  .col-p-7 { max-width: 58.333333%; flex: 0 0 58.333333%; }
  .col-p-8 { max-width: 66.666667%; flex: 0 0 66.666667%; }
  .col-p-9 { max-width: 75%; flex: 0 0 75%; }
  .col-p-10 { max-width: 83.333333%; flex: 0 0 83.333333%; }
  .col-p-11 { max-width: 91.666667%; flex: 0 0 91.666667%; }
  .col-p-12 { max-width: 100%; flex: 0 0 100%; }

  .hidden-m { display: block; }
  .visible-m { display: none !important; }
}

/* common */

a, button {
  cursor: pointer;
}

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }

.title {
  height: 29px;
  margin-bottom: 36px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;
  color: #314351;
}

.btn-primary {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0px 12px;
  border-radius: 8px;
  background-color: #134d45;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.section-margin-top {
  margin-top: 64px;
}

.div-list-wrapper {
  margin-bottom: 24px;
  word-wrap: break-word;
}

.div-list-wrapper p:nth-child(1) {
  height: 27px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-align: left;
  color: #0d2e21;
}

.div-list-wrapper p:nth-child(2), .div-list-wrapper a:nth-child(2) {
  height: 27px;
  font-size: 18px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #0d2e21;
  text-decoration: none;
}

/* header */

header {
  position: absolute;
  width: 100%;
  background-color: #134d45;
  color: #ffffff;
  padding: 20px 30px;
  box-shadow: 0 6px 8px 0 rgba(13, 46, 33, 0.29);
}

header li {
  padding: 0px 20px;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

/* section-cover */

.section-cover {
  height: 600px;
  background-image: url('../img/cover.png');
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
}

.hero {
  margin-bottom: 20px;
  text-align: center;
}

.hero h1 {
  height: 36px;
  font-weight: bold;
  letter-spacing: -0.3px;
}

.hero h3 {
  height: 27px;
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.hero .p-info {
  height: 46px;
  margin-top: 32px;
  font-size: 18px;
  letter-spacing: -0.2px;
}

.hero .p-info strong {
  margin-right: 46px;
  text-align: left;
}

.hero .p-desc {
  margin-top: 72px;
  height: 130px;
  font-size: 14px;
  letter-spacing: -0.1px;
  text-align: left;
  word-break: keep-all;
}

/* section-schedule */

.section-schedule .div-list-wrapper p:nth-child(2) {
  text-align: right;
}

/* section-session */
#section-session .div-list-wrapper {
  margin-top: 50px;
}

/* section-sponsor */
#section-sponsor .div-list-wrapper {
  margin-bottom: 100px;
}

#section-sponsor .div-list-wrapper a {
  height: auto;
}

#section-sponsor .div-list-wrapper p {
  text-align: center;
}

.img-sponsor {
  width: 200px;
  height: auto;
  margin: 20px;
}

.keystone {
  width: 300px;
}

/* section-coc */
.div-coc-desc {
  margin-bottom: 50px;
  font-size: 18px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #0d2e21;
  word-break: keep-all;
}

/* section-og */
.figure-organizer {
  text-align: center;
}

.figure-organizer img {
  border-radius: 50%;
}

.figure-organizer .p-name {
  margin: 24px 0px 8px 0px;
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #0d2e21;
}

.figure-organizer .p-contents {
  height: 24px;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #0d2e21;
}

.figure-organizer .p-contents a {
  color: #0d2e21;
  text-decoration: none;
}

.owl-stage {
  margin: 0 auto;
}

.owl-item {
  padding: 15px;
}

.owl-carousel .owl-item img {
  width: 45px;
  height: 45px;
  margin: auto;
}

.owl-theme .owl-nav {
  margin-top: 0px !important;
}

.owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}

.owl-prev {
  position: absolute;
  left: 0px;
  margin-left: -5px !important;
}

.owl-next {
  position: absolute;
  right: 0;
  margin-right: -5px !important;
}

.owl-prev:hover , .owl-next:hover, .owl-prev:focus , .owl-next:focus {
  background: none !important;
  outline: none;
}

.owl-prev span, .owl-next span {
  font-size: 42px;
  color: #134d45;
}

/* footer */

footer {
  margin-top: 280px;
  padding: 22px 0px 18px 0px;
  background-color: #f1fcf7;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.4px;
  color: #1d6449;
}

footer .copyright {
  margin-top: 20px;
  font-size: 13px;
}

@media (min-width: 480px) {
  /* common */

  h1 { font-size: 60px; }
  h2 { font-size: 40px; }
  h3 { font-size: 32px; }

  .title {
    height: 47px;
    margin-bottom: 120px;
    font-size: 32px;
  }

  .btn-primary {
    padding: 16px 20px;
    font-size: 24px;
    letter-spacing: -0.4px;
  }

  .section-margin-top {
    margin-top: 320px;
  }

  .div-list-wrapper {
    margin-bottom: 36px;
  }

  .div-list-wrapper p:nth-child(1) {
    height: 36px;
    font-size: 24px;
    letter-spacing: -0.4px;
  }

  .div-list-wrapper p:nth-child(2), .div-list-wrapper a:nth-child(2) {
    height: 36px;
    font-size: 24px;
    letter-spacing: -0.4px;
    word-break: keep-all;
  }

  /* header */

  header {
    background-color: #134d45;
    color: #ffffff;
    padding: 20px 30px;
    box-shadow: 0 6px 8px 0 rgba(13, 46, 33, 0.29);
  }

  header li {
    padding: 0px 20px;
  }

  /* section-cover */

  .section-cover {
    height: 1000px;
  }

  .hero {
    margin-bottom: 200px;
    text-align: center;
  }

  .hero h1 {
    height: 89px;
    letter-spacing: -0.8px;
  }

  .hero h3 {
    height: 47px;
    margin-top: 36px;
    letter-spacing: -0.4px;
  }

  .hero .p-info {
    height: 47px;
    margin-top: 48px;
    font-size: 32px;
    letter-spacing: -0.4px;
  }

  .hero .p-info span {
    justify-content: center;
  }

  .hero .p-info strong {
    margin-right: 24px;
  }

  .hero .p-desc {
    margin-top: 88px;
    height: 108px;
    font-size: 24px;
    letter-spacing: -0.3px;
    text-align: center;
  }

  /* section-schedule */

  .section-schedule .div-list-wrapper p:nth-child(2) {
    text-align: right;
  }

  /* section-session */
  .section-session .div-list-wrapper {
    margin-top: 200px;
  }

  /* section-coc */

  .div-coc-desc {
    margin-bottom: 52px;
    font-size: 24px;
    letter-spacing: -0.3px;
  }

  /* section-og */
  .figure-organizer .p-name {
    margin: 36px 0px 8px 0px;
    height: 47px;
    font-size: 32px;
  }

  .figure-organizer .p-contents {
    height: 47px;
    font-size: 32px;
  }

  .owl-carousel .owl-item img {
    width: 90px;
    height: 90px;
    margin: auto;
  }

  .owl-prev span, .owl-next span {
    font-size: 42px;
    color: #134d45;
  }

  /* footer */

  footer {
    margin-top: 280px;
    padding: 74px 0px 65px 0px;
    background-color: #f1fcf7;
    text-align: center;
    font-size: 28px;
    letter-spacing: -0.4px;
    color: #1d6449;
  }

  footer .copyright {
    margin-top: 20px;
    font-size: 24px;
  }
}
