* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f9f9fb;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

p { margin: 0; }

header {
  position: relative;
  display: block;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: #f9f9fb;
  z-index: 10;
}

.nav-wrapper {
  background-color: #f9f9fb;
  width: 100%;
  height: 120px;
  transition: all .3s ease;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

#brand {
  /*max-width: 100%;*/
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  font-family: 'Product Sans', Arial, sans-serif;
}

.nav-ul {
  display: inline-flex;
  margin: 0px;
}

.nav-li {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  color: #888;
}

.nav-li a { cursor: pointer; }

.nav-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  position: relative;
  max-width: 1200px;
  width: 100%;
  overflow: visible;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.left-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}


.right-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.fb-btn {
  height: 36px;
  padding: 0 5px;
  margin-right: 15px;
  margin-left: 0px;
  padding-top: 2px;
  border-radius: 5px;
  display: block;
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  fill: #888;
}

.section {
  position: relative;
  background-color: #f9f9fb;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-container {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
 }


.part-title {
  font-size: 45px;
  text-align: center;
  margin-top:50px;
  margin-bottom: 50px;
  width: 100%
}

.part-schedule {
  padding-left: 50px;
  display: block;
  width: 100%;
  padding-right: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sche-title {
  margin: 100px auto 30px;
  text-align: center;
  font-size: 45px;
}

.table {
  border: 1px solid black;
}

.div-schedule-wrapper{
  margin-top: 20px;
}

.div-schedule {
  padding: 20px;
}

.table-schedule{
  width: 100%;
}

.table-title{
  font-size: 26px;
  padding: 20px;
  text-align: left;
}

.table-schedule tbody{
  text-align: center;
  outline: 1px solid #e5e5e5;
}

.table-schedule td {
 padding: 10px;
 vertical-align: top;
}

.border-outline{
  border-bottom: 1px solid #e5e5e5;
}

.part-schedule, .part-speakers {
  padding: 0px 20px;
}

.img-bg {
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

#img-bg-1 {
  background-color: #0C4B33;
}


#img-first-bg:before {
  content: "";
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.img-bg {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

#img-bg-2 {
  background-image: url("../images/hero_1.jpg");
}

#img-bg-3 {
  background-image: url("../images/hero_3.png");
}

.margin-t-800 {
  margin-top:
  800px;
}

.scrolled {
  height: 70px;
  background-color: #f9f9fb;
  border-bottom: 2px solid #e9e9e9;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #333;
  color: #fff;
}

.footer-btn {
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 15px 35px;
  color: white;
  background-color: rgba(252, 28, 143, 1);
  /*box-shadow: 0 5px 20px rgba(252, 28, 143, .5);*/
  transition: background-color, box-shadow 0.4s;
  box-shadow: 0 0 60px 2px rgba(252, 28, 143, .5), 0.5rem 0.5rem 30px #13082d;
}

.footer-btn:hover {
  cursor: pointer;
  box-shadow: 0 5px 100px rgba(252, 28, 143, .5);
  box-shadow:
          0 0 120px 20px rgba(252, 28, 143, .5),
          0.5rem 0.5rem 30px #26115a;
}


.footer-container {
  display: block;
  width: 90%;
  height: 700px;
  max-width: 1100px;
  padding-top: 150px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;

}

.part-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-btn-wrap {
  padding-bottom: 250px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

}

.title {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-logo {
  max-width: 100%;
  display: inline-block;
  margin-bottom: 0px;
  height: 40px;
  margin-right: 5px;
}

.footer-brand {
  /*max-width: 100%;*/
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  font-family: 'Product Sans', Arial, sans-serif;
}

.info {
  font-size: 15px;
  letter-spacing: 1px;
  /*font-family: 'Product Sans', Arial, sans-serif;*/
}

.thanks {
  font-size: 14px;
  /*font-family: 'Product Sans', Arial, sans-serif;*/
  letter-spacing: 2.3px;
  font-weight: 200;
}

.block-quote {
  content: "";
  background: rgba(1, 1, 1, 0.2);
  position: absolute;
  left: 45%;
  bottom: 0;
  width: 55px;
  height: 4px;
}

@media only screen and ( min-width : 768px ){
  .part-schedule, .part-speakers {
    padding: 0px 100px;
  }
}

@media only screen and (max-width: 990px) {
  /*모바일을 대응*/
  .nav-links {
    display: none;
  }

  .part-speakers {
    padding-left: 20px;
    padding-right: 20px;
  }


}

@media only screen and (max-width: 530px) {
  /*모바일을 대응*/
  .nav-inner{
    padding-left: 35px;
    padding-right: 35px;
  }

  .right-nav {
    display: none;
  }

  .part-speakers {
    padding-left: 10px;
    padding-right: 10px;
  }

  .scrolled {
    height: 50px;
  }

  .footer-container {
    height: 900px;
  }

  .staff-profile img {
    height: 150px;
  }
}

@media only screen and (max-width: 350px) {
  /*모바일을 대응*/
  .left-nav {
    padding-left: 10px;
  }

  .right-nav {
    display: none;
  }

  .part-speakers {
    padding-left: 10px;
    padding-right: 10px;
  }
}