.text-center {
  text-align: center;
}

.timetable {
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(19, 77, 69, 0);
  border: solid 2px #d5f3ec;
}

.session-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #d5f3ec;
  box-shadow: 0 4px 8px 0 rgba(19, 77, 69, 0);
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  font-size: 28px;
  font-weight: bold;
  color: #134d45;
  padding-left: 55px;
}

.session-row {
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  font-size: 24px;
}

.arrow-img-wrapper {
  text-align: right;
  padding-right: 55px;
}

.arrow-img {
  cursor: pointer;
}
