.text-center {
  text-align: center;
}

.timetable {
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(19, 77, 69, 0);
  border: solid 2px #d5f3ec;
}

.session-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #d5f3ec;
  box-shadow: 0 4px 8px 0 rgba(19, 77, 69, 0);
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  font-size: 28px;
  font-weight: bold;
  color: #134d45;
  padding-left: 55px;
}

.session-row {
  padding-top: 30px;
  min-height: 100px;
  word-break: keep-all;
  font-size: 24px;
}
.session-row.bg-table {
  background-color: #fafdfd;
}
.session-row.bg-green {
  background-color: #d5f3ec;
}
.session-row.padding-bottom {
  padding-bottom: 30px;
}

.arrow-img-wrapper {
  text-align: right;
  padding-right: 55px;
}

.arrow-img {
  width: 24px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .session-header {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding-left: 18px;
  }

  .session-row {
    min-height: 50px;
    font-size: 16px;
    padding-top: 15px;
  }
  .session-row.bg-green {
    background-color: #d5f3ec;
  }
  .session-row.padding-bottom {
    padding-bottom: 15px;
  }

  .arrow-img-wrapper {
    padding-right: 18px;
  }

  .arrow-img {
    width: 16px;
  }
}
